* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(212, 45%, 89%);
  min-height: 100vh;
  display: grid;
  place-items: center;
  padding: 20px;
}

.container {
  font-family: "Outfit", sans-serif;
  background-color: hsl(0, 0%, 100%);
  width: 100%;
  max-width: 320px;
  display: grid;
  border-radius: 20px;
  align-items: center;
  justify-items: center;
  grid-template-rows: 288px 1fr;
  padding-top: 16px;
  gap: 24px;

  padding-bottom: 40px;
}

.paragraphs {
  display: grid;
  padding: 0 16px;
  gap: 16px;
}

.title {
  color: hsl(218, 44%, 22%);
  text-align: center;
  font-size: 22px;
  line-height: 120%;
  font-weight: 700;
  letter-spacing: 0px;
}

.description {
  color: hsl(216, 15%, 48%);
  font-size: 15px;
  line-height: 1.4;
  font-weight: 400;
  letter-spacing: 0.6px;
  text-align: center;
}

.qr-image {
  width: 288px;
  height: auto;
  border-radius: 20px;
  display: block;
}
